*.iml
.gradle
.idea
/local.properties
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

/.idea
/.idea/sonarIssues.xml
/.idea/sonarlint/issuestore/e/a/ea04a08cc4628c07911676759f144ca21c43d831
/.idea/sonarlint/issuestore/index.pb
/.idea/gradle.xml
